* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: whitesmoke;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(156, 152, 152);
}

.calc-container {
  border: solid black 25px;
  border-radius: 25px;
  background-color: black;
  width: 25%;
  margin: 80px auto 0 auto;
}

.display {
  background-color: rgb(53, 56, 56);
  border: solid black;
  height: 145px;
  width: 100%;
  overflow: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 90px;
}

.text {
  margin-right: 70px;
}

.btn-container {
  height: 590px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  gap: 1%;
  margin-left: 2%;
  padding-top: 15px;
}

#zero {
  padding: 10px 20px;
  margin: 4px 2px;
  border-radius: 76px;
  border: none;
  width: 46%;
}

#division {
  background-color: rgb(218, 147, 15);
}

#add {
  background-color: rgb(218, 147, 15);
}

#sub {
  background-color: rgb(218, 147, 15);
}

#mult {
  background-color: rgb(218, 147, 15);
}

#equals {
  background-color: rgb(218, 147, 15);
}

/* Update buttons to have a relative width and height */
button {
  height: 11vh; /* Relative height based on the viewport */
  width: 23%; /* Relative width based on the button container */
  border-radius: 50%;
  border: none;
  font-size: 1.5rem; /* Adjust font size for responsiveness */
  background-color: rgb(53, 56, 56);
  color: whitesmoke;
}

.calc-btns:hover {
  background-color: rgb(189, 171, 171);
  cursor: pointer;
}

#add:hover {
  background-color: blue;
}

#sub:hover {
  background-color: blue;
}

#mult:hover {
  background-color: blue;
}

#division:hover {
  background-color: blue;
}

#equals:hover {
  background-color: blue;
}

#idk {
  background-color: rgb(163, 160, 160);
  color: black;
}

#clear {
  background-color: rgb(163, 160, 160);
  color: black;
}

#ac {
  background-color: rgb(163, 160, 160);
  color: black;
}

#idk:hover {
  background-color: blue;
}

#clear:hover {
  background-color: blue;
}

#ac:hover {
  background-color: blue;
}

/* MEDIA QUERIES */

/* Extra small devices (phones, less than 600px) */
@media only screen and (max-width: 600px) {
  /* Your styles for phones */
  .calc-container {
    width: 80%;
    height: 60vh;
    padding: 5px;
  }

  .display {
    width: 100%;
    height: 12%;
  }
  .btn-container {
    width: 100%;
    align-content: flex-start;
    height: 60vh;
  }

  .btn-container button {
    font-size: 1.2rem;
    height: 6vh;
    width: 18%;
    margin-left: 12px;
  }

  #zero {
    width: 46%;
  }

  .text {
    font-size: 2.3rem;
    margin-right: 18px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  /* Your styles for small devices */
  .calc-container {
    width: 80%;
    height: 100vh;
    padding: 5px;
  }

  .btn-container {
    width: 100%;
    align-content: flex-start;
    height: 75vh;
    justify-content: center;
  }

  .btn-container button {
    font-size: 2rem;
    height: 12vh;
    width: 20%;
    margin-left: 12px;
  }

  #zero {
    width: 45%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* Your styles for tablets */
  .calc-container {
    width: 70%;
    height: 80vh;
    padding: 5px;
  }

  .btn-container {
    width: 100%;
    align-content: flex-start;
    /* border: solid wheat; */
    justify-content: center;
  }

  .btn-container button {
    width: 21%;
    height: 10vh;
    margin-left: 8px;
  }

  #zero {
    width: 46%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1300px) {
  .calc-container {
    width: 60%;
    height: 75vh;
    padding: 5px;
  }

  .btn-container button {
    width: 20%;
    height: 9vh;
    margin-left: 12px;
  }

  .btn-container {
    width: 100%;
    align-content: flex-start;
  }

  #zero {
    width: 48%;
  }
}
