body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(156, 152, 152)
    
}


.calc-container {
    border: solid black 25px;
    border-radius: 25px;
    background-color: black;
    width: 510px;
    height: 750px;
}


.display {
    background-color:rgb(53, 56, 56);
    border: solid black;
    height: 145px;
    width: 505px;
    overflow: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size:90px
}

.text {
    margin-right: 70px;
}



.btn-container {
    /* border: solid orange; */
    height: 590px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    gap: 15px;
    margin-left: 28px;
    padding-top: 15px;

    
}


#zero {
   padding: 10px 20px;
    margin:  4px 2px;
    border-radius: 76px;
    border: none;
    width: 215px;
    
}

#division {
    background-color: rgb(218, 147, 15);
}

#add {
    background-color: rgb(218, 147, 15);
}

#sub {
    background-color: rgb(218, 147, 15);
}

#mult {
    background-color: rgb(218, 147, 15);
}

#equals {
    background-color: rgb(218, 147, 15);
}

button {
    height: 100px;
    width: 101px;
    border-radius: 50%;
    border: none;
    font-size: 35px;
    background-color:rgb(53, 56, 56);
    color: whitesmoke;

}

.calc-btns:hover {
    background-color: rgb(189, 171, 171);
}

#add:hover {
    background-color: blue;
}

#sub:hover {
    background-color: blue;
}

#mult:hover {
    background-color: blue;
}

#division:hover {
    background-color: blue;
}

#equals:hover {
    background-color: blue;
}

#idk {
    background-color: rgb(163, 160, 160);
    color: black;
}

#clear {
    background-color: rgb(163, 160, 160);
    color: black;
}

#ac {
    background-color: rgb(163, 160, 160);
    color: black;
}

#idk:hover {
    background-color: blue;
}

#clear:hover {
    background-color: blue;
}

#ac:hover {
    background-color: blue
}